<br>
<div class="container">
  <div class="row">

    <div class="col-md-7 col-sm-12">
      <h4>{{titulo}}</h4>
      <hr>
      <form (ngSubmit)="guardar(forma)" #forma="ngForm">

        <div>

          <div class="form-group row">
            <label class="col-4 col-form-label">Nombre</label>
            <div class="col-8">
              <input type="text" class="form-control form-orange" [(ngModel)]="usuario.nombre" name="nombre"
                     [ngClass]="{ 'is-invalid' : (name.errors?.required || name.errors?.minlength)&& name.touched}"
                     required #name="ngModel" minlength="3">
                <div *ngIf="name.errors?.required" class="invalid-feedback">El campo no puede estar vacío.</div>
                <div *ngIf="name.errors?.minlength" class="invalid-feedback">Debe contener al menos {{name.errors.minlength.requiredLength}}
                caracteres.</div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-4 col-form-label">Apellido</label>
            <div class="col-8">
              <input type="text" id="apellido" class="form-control form-orange" [(ngModel)]="usuario.apellido"
                     name="apellido" required #lastName="ngModel" minlength="3"
                     [ngClass]="{ 'is-invalid' : (lastName.errors?.required || lastName.errors?.minlength)&& lastName.touched}">
                <div *ngIf="lastName.errors?.required" class="invalid-feedback">El campo no puede estar vacío.</div>
                <div *ngIf="lastName.errors?.minlength" class="invalid-feedback">Debe contener al menos {{lastName.errors.minlength.requiredLength}}
                caracteres.</div>

            </div>
          </div>

          <div class="form-group row">
            <label class="col-4 col-form-label">Fecha Nacimiento</label>
            <div class="col-8">

              <div class="form-inline">
                <label for="diaNac">Dia</label>&nbsp;
                <select class="form-control form-orange col-2" id="diaNac" [(ngModel)]="dia" name="dia" >
                  <option value="{{dia}}" *ngFor="let dia of dias">{{dia}}</option>
                </select>&nbsp;

                <label for="mesNac">Mes</label> &nbsp;
                <select class="form-control form-orange col-3" id="mesNac" [(ngModel)]="mes" name="mes" >
                  <option value="{{mes}}" *ngFor="let mes of meses">{{mes}}</option>
                </select>&nbsp;

                <label for="anioNac">Año</label> &nbsp;
                <select class="form-control form-orange col-3" id="anioNac" [(ngModel)]="anio" name="anio" >
                  <option value="{{anio}}" *ngFor="let anio of anios">{{anio}}</option>
                </select>&nbsp;

              </div>

            </div>
          </div>

          <div class="form-group row">
            <label class="col-4 col-form-label">Correo</label>
            <div class="col-8">
              <input type="email" id="email" class="form-control form-orange" [(ngModel)]="usuario.email" name="correo" required
                     pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #correo="ngModel"
                     [ngClass]="{ 'is-invalid' : (correo.errors?.required || correo.errors?.valid)&& correo.touched}">

                <div *ngIf="correo.errors?.required" class="invalid-feedback">El campo no puede estar vacío</div>
                <div *ngIf="correo.errors?.valid" class="invalid-feedback">El correo es incorrecto</div>

            </div>
          </div>

          <div class="form-group row">
            <label class="col-4 col-form-label">Contraseña</label>
            <div class="col-8">
              <input type="password" id="pass" class="form-control form-orange"
                     aria-describedby="passwordHelpBlock" [(ngModel)]="usuario.pass01"
                     name="pass" required #pass1="ngModel" minlength="9"
                     [ngClass]="{ 'is-invalid' : (pass1.errors?.required || pass1.errors?.minlength)&& pass1.touched}">
              <small id="passwordHelpBlock" class="form-text text-muted">
                La contraseña debe ser mayor a 8 caracteres
              </small>

                <div *ngIf="pass1.errors?.required" class="invalid-feedback">El campo no puede estar vacío</div>
                <div *ngIf="pass1.errors?.minlength" class="invalid-feedback">Debe contener al menos {{pass1.errors.minlength.requiredLength}}</div>

            </div>
          </div>

          <div class="form-group row">
            <label class="col-4 col-form-label">Confirme la contraseña</label>
            <div class="col-8">
              <input type="password" id="repeatPass" class="form-control form-orange"
                     [(ngModel)]="usuario.pass02"
                     aria-describedby="repPass"  name="pass2" required #pass2="ngModel" minlength="9"
                     [ngClass]="{ 'is-invalid' : (pass2.errors?.required || pass2.errors?.minlength)&& pass2.touched}">
              <small id="repPass" class="form-text text-muted">
                Las contraseñas deben coincidir.
              </small>

                <div *ngIf="pass2.errors?.required" class="invalid-feedback">El campo no puede estar vacío</div>
                <div *ngIf="pass2.errors?.minlength" class="invalid-feedback">Debe contener al menos {{pass2.errors.minlength.requiredLength}}</div>
                <div *ngIf="pass1.value != pass2.value" class="invalid-feedback">Las contraseñas no coinciden</div>
            </div>
          </div>
          <i><small>Todos los campos son requeridos.</small></i>

        </div>

        <br>
        <button [disabled]="!forma.valid"  class="btn btn-orange cpointer">Confirmar</button>

      </form>

    </div>
  </div>
</div>
